{% extends 'base.html' %}
{% block content %}
<p>það sem vantar hérna er að prenta út allar upplýsingar um eignina (þar á meðal fjármögnunina) og tilboðið og fá samþykki kaupanda fyrir því.</p>
    <p><strong>Offer Price:</strong> ISK {{ offer.offer_price|floatformat:2 }}</p>
    <p><strong>Listed Price:</strong> ISK {{ property.price|floatformat:2 }}</p>
    <p><strong>Property:</strong> {{ property.title }}</p>
    <p><strong>Status:</strong> {{ offer.get_status_display }}</p>

<div>
        <br/>
        <a href="{% url 'home' %}" class="btn btn-primary">Confirm the offer (this cannot be undone)</a>
    </div>
{% endblock content %}
