{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<head>
    <style>

        .title {
            margin-bottom: 20px;
            font-weight: bold;
        }

        input[type="text"], select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            box-sizing: border-box;
        }

        input[type="text"]:focus, select:focus {
            border-color: #007bff;
            outline: none;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
        }

        select {
            background-color: white;
            cursor: pointer;
        }

        .country {
            margin-bottom: 15px;
        }

        input[type="text"]::placeholder {
            color: #999;
            font-style: italic;
        }
    </style>
</head>
<body>
<div class="main-container" style="width: 100%; max-width: 600px; margin: 0 auto;">
<div class="card mb-4 p-4">
    <h1 class="mb-4">Finalizing Offer for {{ property.title }}</h1>
    {% if property.header_image %}
    <div class="mb-4">
        <img src="{{ property.header_image.url }}" alt="{{ property.title }}" class="img-fluid rounded shadow-sm">
    </div>
    {% else %}
    <p>No image available</p>
    {% endif %}

    <p><strong>Offer Price:</strong> ISK {{ offer.offer_price|floatformat:0|intcomma }} kr.</p>
    <p><strong>Listed Price:</strong> ISK {{ property.price|floatformat:0|intcomma }} kr.</p>
    <p><strong>Property:</strong> {{ property.title }}</p>
    <p><strong>Status:</strong> {{ offer.get_status_display }}</p>
</div>

<!-- Payment Method Selection -->

<form method="POST" action="{% url 'user:payment_information' offer_id=offer.id %}" id="payment-form">
    {% csrf_token %}
    <h4 class="title">Please enter your contact information: </h4>
    <input type="text" name="street" class="street" placeholder="Street name and number" required>
    <input type="text" name="city" class="city" placeholder="City" required>
    <input type="text" name="postal_code" class="postal-code" placeholder="Postal Code" required>
    <div class="country">
                    <select name="country" id="country">
                        <option value="">Select a country</option>
                        <option value="AF">Afghanistan</option>
                        <option value="AL">Albania</option>
                        <option value="DZ">Algeria</option>
                        <option value="AD">Andorra</option>
                        <option value="AO">Angola</option>
                        <option value="AG">Antigua and Barbuda</option>
                        <option value="AR">Argentina</option>
                        <option value="AM">Armenia</option>
                        <option value="AU">Australia</option>
                        <option value="AT">Austria</option>
                        <option value="AZ">Azerbaijan</option>
                        <option value="BS">Bahamas</option>
                        <option value="BH">Bahrain</option>
                        <option value="BD">Bangladesh</option>
                        <option value="BB">Barbados</option>
                        <option value="BY">Belarus</option>
                        <option value="BE">Belgium</option>
                        <option value="BZ">Belize</option>
                        <option value="BJ">Benin</option>
                        <option value="BT">Bhutan</option>
                        <option value="BO">Bolivia</option>
                        <option value="BA">Bosnia and Herzegovina</option>
                        <option value="BW">Botswana</option>
                        <option value="BR">Brazil</option>
                        <option value="BN">Brunei</option>
                        <option value="BG">Bulgaria</option>
                        <option value="BF">Burkina Faso</option>
                        <option value="BI">Burundi</option>
                        <option value="CV">Cabo Verde</option>
                        <option value="KH">Cambodia</option>
                        <option value="CM">Cameroon</option>
                        <option value="CA">Canada</option>
                        <option value="CF">Central African Republic</option>
                        <option value="TD">Chad</option>
                        <option value="CL">Chile</option>
                        <option value="CN">China</option>
                        <option value="CO">Colombia</option>
                        <option value="KM">Comoros</option>
                        <option value="CG">Congo (Republic of the)</option>
                        <option value="CD">Congo (Democratic Republic of the)</option>
                        <option value="CR">Costa Rica</option>
                        <option value="HR">Croatia</option>
                        <option value="CU">Cuba</option>
                        <option value="CY">Cyprus</option>
                        <option value="CZ">Czech Republic</option>
                        <option value="CI">Côte d'Ivoire</option>
                        <option value="DK">Denmark</option>
                        <option value="DJ">Djibouti</option>
                        <option value="DM">Dominica</option>
                        <option value="DO">Dominican Republic</option>
                        <option value="EC">Ecuador</option>
                        <option value="EG">Egypt</option>
                        <option value="SV">El Salvador</option>
                        <option value="GQ">Equatorial Guinea</option>
                        <option value="ER">Eritrea</option>
                        <option value="EE">Estonia</option>
                        <option value="SZ">Eswatini</option>
                        <option value="ET">Ethiopia</option>
                        <option value="FJ">Fiji</option>
                        <option value="FI">Finland</option>
                        <option value="FR">France</option>
                        <option value="GA">Gabon</option>
                        <option value="GM">Gambia</option>
                        <option value="GE">Georgia</option>
                        <option value="DE">Germany</option>
                        <option value="GH">Ghana</option>
                        <option value="GR">Greece</option>
                        <option value="GD">Grenada</option>
                        <option value="GT">Guatemala</option>
                        <option value="GN">Guinea</option>
                        <option value="GW">Guinea-Bissau</option>
                        <option value="GY">Guyana</option>
                        <option value="HT">Haiti</option>
                        <option value="HN">Honduras</option>
                        <option value="HU">Hungary</option>
                        <option value="IS">Iceland</option>
                        <option value="IN">India</option>
                        <option value="ID">Indonesia</option>
                        <option value="IR">Iran</option>
                        <option value="IQ">Iraq</option>
                        <option value="IE">Ireland</option>
                        <option value="IL">Israel</option>
                        <option value="IT">Italy</option>
                        <option value="JM">Jamaica</option>
                        <option value="JP">Japan</option>
                        <option value="JO">Jordan</option>
                        <option value="KZ">Kazakhstan</option>
                        <option value="KE">Kenya</option>
                        <option value="KI">Kiribati</option>
                        <option value="KP">Korea (North)</option>
                        <option value="KR">Korea (South)</option>
                        <option value="KW">Kuwait</option>
                        <option value="KG">Kyrgyzstan</option>
                        <option value="LA">Laos</option>
                        <option value="LV">Latvia</option>
                        <option value="LB">Lebanon</option>
                        <option value="LS">Lesotho</option>
                        <option value="LR">Liberia</option>
                        <option value="LY">Libya</option>
                        <option value="LI">Liechtenstein</option>
                        <option value="LT">Lithuania</option>
                        <option value="LU">Luxembourg</option>
                        <option value="MG">Madagascar</option>
                        <option value="MW">Malawi</option>
                        <option value="MY">Malaysia</option>
                        <option value="MV">Maldives</option>
                        <option value="ML">Mali</option>
                        <option value="MT">Malta</option>
                        <option value="MH">Marshall Islands</option>
                        <option value="MR">Mauritania</option>
                        <option value="MU">Mauritius</option>
                        <option value="MX">Mexico</option>
                        <option value="FM">Micronesia</option>
                        <option value="MD">Moldova</option>
                        <option value="MC">Monaco</option>
                        <option value="MN">Mongolia</option>
                        <option value="ME">Montenegro</option>
                        <option value="MA">Morocco</option>
                        <option value="MZ">Mozambique</option>
                        <option value="MM">Myanmar</option>
                        <option value="NA">Namibia</option>
                        <option value="NR">Nauru</option>
                        <option value="NP">Nepal</option>
                        <option value="NL">Netherlands</option>
                        <option value="NZ">New Zealand</option>
                        <option value="NI">Nicaragua</option>
                        <option value="NE">Niger</option>
                        <option value="NG">Nigeria</option>
                        <option value="MK">North Macedonia</option>
                        <option value="NO">Norway</option>
                        <option value="OM">Oman</option>
                        <option value="PK">Pakistan</option>
                        <option value="PW">Palau</option>
                        <option value="PA">Panama</option>
                        <option value="PG">Papua New Guinea</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Peru</option>
                        <option value="PH">Philippines</option>
                        <option value="PL">Poland</option>
                        <option value="PT">Portugal</option>
                        <option value="QA">Qatar</option>
                        <option value="RO">Romania</option>
                        <option value="RU">Russia</option>
                        <option value="RW">Rwanda</option>
                        <option value="KN">Saint Kitts and Nevis</option>
                        <option value="LC">Saint Lucia</option>
                        <option value="VC">Saint Vincent and the Grenadines</option>
                        <option value="WS">Samoa</option>
                        <option value="SM">San Marino</option>
                        <option value="ST">Sao Tome and Principe</option>
                        <option value="SA">Saudi Arabia</option>
                        <option value="SN">Senegal</option>
                        <option value="RS">Serbia</option>
                        <option value="SC">Seychelles</option>
                        <option value="SL">Sierra Leone</option>
                        <option value="SG">Singapore</option>
                        <option value="SK">Slovakia</option>
                        <option value="SI">Slovenia</option>
                        <option value="SB">Solomon Islands</option>
                        <option value="SO">Somalia</option>
                        <option value="ZA">South Africa</option>
                        <option value="SS">South Sudan</option>
                        <option value="ES">Spain</option>
                        <option value="LK">Sri Lanka</option>
                        <option value="SD">Sudan</option>
                        <option value="SR">Suriname</option>
                        <option value="SE">Sweden</option>
                        <option value="CH">Switzerland</option>
                        <option value="SY">Syria</option>
                        <option value="TJ">Tajikistan</option>
                        <option value="TZ">Tanzania</option>
                        <option value="TH">Thailand</option>
                        <option value="TL">Timor-Leste</option>
                        <option value="TG">Togo</option>
                        <option value="TO">Tonga</option>
                        <option value="TT">Trinidad and Tobago</option>
                        <option value="TN">Tunisia</option>
                        <option value="TR">Turkey</option>
                        <option value="TM">Turkmenistan</option>
                        <option value="TV">Tuvalu</option>
                        <option value="UG">Uganda</option>
                        <option value="UA">Ukraine</option>
                        <option value="AE">United Arab Emirates</option>
                        <option value="GB">United Kingdom</option>
                        <option value="US">United States</option>
                        <option value="UY">Uruguay</option>
                        <option value="UZ">Uzbekistan</option>
                        <option value="VU">Vanuatu</option>
                        <option value="VA">Vatican City</option>
                        <option value="VE">Venezuela</option>
                        <option value="VN">Vietnam</option>
                        <option value="YE">Yemen</option>
                        <option value="ZM">Zambia</option>
                        <option value="ZW">Zimbabwe</option>
                    </select>
                </div>
    <label>
        <input type="text" name="kennitala" pattern="^\d+$" minlength="9" maxlength="10"  class="kennitala" placeholder="National ID (kennitala)" required oninput="this.value = this.value.replace(/[^0-9]/g, '')">
    </label>

    <div>
        <br/>
        <p>How would you like to finance the payment for the property?</p>
        <input type="radio" id="Credit-card" name="payment" value="Credit card">
        <label for="Credit-card">Credit card</label><br>
        <input type="radio" id="Bank-transfer" name="payment" value="Bank transfer">
        <label for="Bank-transfer">Bank transfer</label><br>
        <input type="radio" id="Mortgage" name="payment" value="Mortgage">
        <label for="Mortgage">Mortgage</label><br><br>

        <button type="button" id="show-form-btn" class="btn btn-primary">Continue</button>
    </div>
</form>
</div>

<!-- Credit Card Form -->
<div style="clear: both; width: 100%; margin-top: 30px;">
<div id="credit-card-form" class="form-container" style="display: none;">
    <form class="credit-card" method="POST" action="{% url 'user:creditcard_information' offer_id=offer.id %}">
        {% csrf_token %}
        <div class="form-header">
            <h4 class="title">Credit Card Detail</h4>
        </div>
        <div class="form-body">
            <!-- Hidden field for payment method -->
            <input type="hidden" name="credit-card" value="Credit card">

            <!-- Card Number -->
            <label>
                <input type="text" pattern="^\d+$" minlength="16" maxlength="16" name="card-number" class="card-number" placeholder="Card Number" required oninput="this.value=this.value.replace(/[^0-9]/g, '')">
            </label>

            <!-- Date Field -->
            <div class="date-field">
                <div class="month">
                    <select name="Month" required>
                        <option value="">Select Month</option>
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="year">
                    <select name="Year" required>
                        <option value="">Select Year</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                        <option value="2031">2031</option>
                        <option value="2032">2032</option>
                        <option value="2033">2033</option>
                    </select>
                </div>
            </div>

            <!-- Card Verification Field -->
            <div class="card-verification">
                <div class="cvv-input">
                    <input type="text" pattern="^\d+$" minlength="3" maxlength="3"  name="cvv" placeholder="CVV" required oninput="this.value=this.value.replace(/[^0-9]/g, '')">
                </div>
                <div class="cvv-details">
                    <p>3 or 4 digits usually found <br> on the signature strip</p>
                </div>
            </div>
        </div>

        <div class="form-footer">
            <button type="submit" class="btn btn-primary">Submit Card Information</button>
        </div>
    </form>
</div>

<!-- Bank Transfer Form -->
<div id="bank-transfer-form" class="form-container" style="display: none;">
    <h3>Bank transfer</h3>
    <br/>
    <p>You can make your bank transfor to our account, number <strong>0152-22-482891</strong></p>
    <form method="POST" action="{% url 'user:payment_information' offer_id=offer.id %}">
        {% csrf_token %}
        <input type="hidden" name="payment" value="Bank transfer">
        <button type="submit" class="btn btn-primary">Review and confirm</button>
    </form>

</div>

<!-- Mortgage Form -->
<div id="mortgage-form" class="form-container" style="display: none;">
    <form class="credit-card" method="POST" action="{% url 'user:mortgage_information' offer_id=offer.id %}">
        {% csrf_token %}
        <div class="form-header">
            <h4 class="title">Mortgage detail</h4>
        </div>
        <div class="form-body">
            <input type="hidden" name="mortgage" value="Mortgage">
            <input type="text" name="mortgage-number" class="mortgage-number"
                   placeholder="Mortgage number">

            <div class="bank-field">
                <div class="bank">
                    <select name="bank-name">
                        <option value="" disabled selected>Choose your bank</option>
                        <option value="Arion Banki">Arion Banki</option>
                        <option value="Landsbankinn">Landsbankinn</option>
                        <option value="Húsnæðis- og mannvirkjastofnun">Húsnæðis- og mannvirkjastofnun</option>
                        <option value="Íslandsbanki">Íslandsbanki</option>
                    </select>
                </div>
            </div>
            <input type="text" name="approved-amount" class="approved_amount"
                   placeholder="Amount of the mortgage">
        </div>

        <div class="form-footer">
            <button type="submit" class="btn btn-primary">Submit Mortgage Information</button>
        </div>
    </form>

</div>
</div>
</div>
<br/>
<br/>
<script>
    document.getElementById('show-form-btn').addEventListener('click', function() {
        const selectedPayment = document.querySelector('input[name="payment"]:checked');

        if (!selectedPayment) {
            alert('Please select a payment method');
            return;
        }

        ['credit-card-form', 'bank-transfer-form', 'mortgage-form'].forEach(id => {
            document.getElementById(id).style.display = 'none';
        });

        if (selectedPayment.value === 'Credit card') {
            document.getElementById('credit-card-form').style.display = 'block';
        } else if (selectedPayment.value === 'Bank transfer') {
            document.getElementById('bank-transfer-form').style.display = 'block';
        } else if (selectedPayment.value === 'Mortgage') {
            document.getElementById('mortgage-form').style.display = 'block';
        }
    });
</script>
</body>
{% endblock content %}