{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Castle Apartments</title>
</head>
<body>
  {%  if messages %}
    {%  for message in messages %}
        {{ message }}
    {%  endfor %}
  {% endif %}

    <form class="login" method="post">
        {% csrf_token %}
        <label for="name"> Name: </label> <br/>
        <input type="text" id="name" name="username" /><br/><br/>
        <label for="password"> Password: </label> <br/>
        <input type="password" id="password" name="password" /><br/><br/>
        <input type="submit" class="complete_btn" style = 'margin-right:25px' value="Login">
    </form>
    <div style = 'margin-left:70px;margin-top:-21px'>
        <button onclick="history.back()">Go back</button>
    </div>

</body>
</html>

