{% extends 'base.html' %}
{% block content %}
<body>
        <H1>Add property to sell</H1>
        <br/>
        <br/>
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {{ property_form.as_p }}
        <label>Add photos:</label>
        <input type="file" enctype="multipart/form-data" multiple name="files" id="name" class="form-control"/>
        <br/>
        <br/>
        <button type="submit" class="btn btn-primary">
            Add property
        </button>
    </form>

</body>
{% endblock content %}